@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,200&family=Roboto:ital,wght@0,100;1,300&family=Tajawal:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Josefin Sans", Arial;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: white;
}

header {
  background-color: #06d6a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: blue;
  font-size: 58px;
  font-weight: 100;
  margin-left: 18px;
  letter-spacing: 10;
  font-family: "Rakkas";
  cursor: pointer;
}
ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin-left: 8px;
  margin-right: 22px;
}

ul li a {
  font-size: 28px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Acme";
  font-weight: 600;
  transition: 0.3s;
}

ul li a:hover {
  color: blue;
  text-decoration: underline;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #121212;
}

p {
  font-size: 55px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.social_link {
  text-align: center;
  margin-top: 70px;
  font-size: 25px;
}
.social_link a {
  margin: 0 40px 0 0;
}

.main_content {
  position: relative;
  width: 64%;
  height: 100%;
  float: right;
}

.about div {
  color: black;
}

.about div p {
  font-size: 28px;
}

.contact ul {
  height: 100%;
  width: 30%;
  border-radius: 0.5em;
  background-color: #121212;
  padding-bottom: 5px;
}

.contact ul li {
  font-size: 20px;
  margin: 20px 20px 20px 20px;
}
.contact ul li:first-child {
  padding-top: 20px;
}

footer {
  background-color: #06d6a0;
  padding: 16px;
  font-family: "Rakkas";
  font-size: 20px;
  color: black;
  margin-top: 60%;
  padding-left: 40%;
  align-items: center;
}
