@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,200&family=Roboto:ital,wght@0,100;1,300&family=Tajawal:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: white;
  background-position: center;
  background-size: cover;
}
header {
  background-color: #06d6a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: blue;
  font-size: 58px;
  font-weight: 100;
  margin-left: 18px;
  letter-spacing: 10;
  font-family: "Rakkas";
  cursor: pointer;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin-left: 8px;
  margin-right: 22px;
}

ul li a {
  font-size: 28px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Acme";
  font-weight: 600;
  transition: 0.3s;
}

ul li a:hover {
  color: blue;
  text-decoration: underline;
}

.form-container {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

label {
  margin: 2px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.panel {
  background: rgba(0, 0, 0, 0.2);
}
.panel-heading {
  margin-bottom: 20px;
}

.btn-group {
  width: 90%;
  margin: 0 auto 10px auto;
}
.back {
  float: left;
  border: 0;
  padding: 20px;
  width: 20%;
  border-radius: 50px;
  background: #e40046;
  color: #fff;
  font-size: 1rem;
  margin: 7px 3px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

.continue {
  float: right;
  border: 0;
  padding: 20px;
  width: 20%;
  border-radius: 50px;
  background: #e40046;
  color: #fff;
  font-size: 1rem;
  margin: 7px 3px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: red;
}

/* Multi-Part CSS */
input[type="checkbox"] {
  position: absolute;
  /* Position the checkbox in upper left corner */
  opacity: 0;
}

/* Styling Parts */
#part1,
#part2,
#part3,
#part4,
#part5 {
  z-index: 2;
  display: block;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Hidden Parts */

#part2,
#part3,
#part4,
#part5 {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* Show Step 2 & Hide Step  */
#step2:checked ~ #part2 {
  opacity: 1;
  height: auto;
}
#step2:checked ~ #part1 {
  opacity: 0;
  height: 0;
  display: none;
}

/* Show Step 3  & Hide Step 2 */
#step3:checked ~ #part3 {
  opacity: 1;
  height: auto;
}
#step3:checked ~ #part2 {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Show Step 4  & Hide Step 3 */
#step4:checked ~ #part4 {
  opacity: 1;
  height: auto;
}
#step4:checked ~ #part3 {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Show Step 5 & Hide Step 4 */
#step5:checked ~ #part5 {
  opacity: 1;
  height: auto;
}
#step5:checked ~ #part4 {
  opacity: 0;
  width: 0;
  height: 0;
}

button.validebtn {
  float: right;
  border: 0;
  padding: 20px;
  width: 25%;
  border-radius: 50px;
  background: green;
  color: #fff;
  font-size: 1rem;
  margin: 7px 3px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}
button.validebtn:hover {
  background: #5f84fe;
}
button.startbtn,
button.corigbtn {
  margin-left: 70px;
  border: 0;
  padding: 20px;
  width: 25%;
  border-radius: 50px;
  background: green;
  color: #fff;
  font-size: 1rem;
  margin: 7px 3px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}
button.startbtn {
  margin-right: 150px;
  margin-top: 30px;
}

button.startbtn:hover,
button.corigbtn:hover {
  background: #5f84fe;
}
img {
  border-radius: 22px;
}

.box {
  padding: 10px 20px;
  background: white;
  border-radius: 12px;
}
.box label {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  background-color: #ffb703;
  margin: 10px 0;
  padding-left: 10px;
  cursor: default;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3,
#option-11:checked ~ .option-11,
#option-22:checked ~ .option-22,
#option-33:checked ~ .option-33,
#option-111:checked ~ .option-111,
#option-222:checked ~ .option-222,
#option-333:checked ~ .option-333,
#option-1111:checked ~ .option-1111,
#option-2222:checked ~ .option-2222,
#option-3333:checked ~ .option-3333 {
  background: #5f84fe;
  border-color: #5f84fe;
}
.box label .dot {
  height: 20px;
  width: 20px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot,
#option-3:checked ~ .option-3 .dot,
#option-11:checked ~ .option-11 .dot,
#option-22:checked ~ .option-22 .dot,
#option-33:checked ~ .option-33 .dot #option-111:checked ~ .option-111 .dot,
#option-222:checked ~ .option-222 .dot,
#option-333:checked ~ .option-333 .dot,
#option-1111:checked ~ .option-1111 .dot,
#option-2222:checked ~ .option-2222 .dot,
#option-3333:checked ~ .option-3333 .dot {
  background: green;
}
.box label .dot::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before,
#option-3:checked ~ .option-3 .dot::before,
#option-11:checked ~ .option-11 .dot::before,
#option-22:checked ~ .option-22 .dot::before,
#option-33:checked ~ .option-33 .dot::before,
#option-111:checked ~ .option-111 .dot::before,
#option-222:checked ~ .option-222 .dot::before,
#option-333:checked ~ .option-333 .dot::before,
#option-1111:checked ~ .option-1111 .dot::before,
#option-2222:checked ~ .option-2222 .dot::before,
#option-3333:checked ~ .option-3333 .dot::before {
  background: #5f84fe;
  transform: translate(-50%, -50%) scale(1);
}
.box label .text {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text,
#option-11:checked ~ .option-11 .text,
#option-22:checked ~ .option-22 .text,
#option-33:checked ~ .option-33 .text,
#option-111:checked ~ .option-111 .text,
#option-222:checked ~ .option-222 .text,
#option-333:checked ~ .option-333 .text,
#option-1111:checked ~ .option-1111 .text,
#option-2222:checked ~ .option-2222 .text,
#option-3333:checked ~ .option-3333 .text {
  color: #fff;
}

.box input[type="radio"] {
  display: none;
}

#time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 140px;
  color: black;
  font-size: 28px;
  font-family: "Alfa Slab One";
  font-weight: normal;
  border: 2px solid black;
  margin-top: 12px;
  margin-left: 42%;
  border-radius: 8px;
  padding: 12px;
}
