body{
    font-family: 'roboto stab', serif;
    background-color: white;
    background-image: url("https://media.istockphoto.com/photos/mauritania-flag-wall-clock-watch-port-for-same-series-picture-id464983942?k=20&m=464983942&s=612x612&w=0&h=3RRmA3Xbu7yl81MTQBS2zTSQsTHeUQAEuS3HOddE57c=");
   background-repeat: no-repeat;


}
i{
    border: 2px yellow solid;
    background-color: red;
    color: green;
    font-size: 30px;
}

header{
    background-color: cornflowerblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  15px;
    margin: 10px;
    border-radius:10px;

}
.Quiz{
 border: 3px solid yellow;
  border-radius: 10px;
  font-size: 25px;
  color: red;

}
  header ul{
    list-style: none;
}
header ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px; 
    border-bottom: 2px solid #fff;
}
header ul li a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}

header ul li a:hover{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.cont{
    border-width: 15.2em;
    border: solid 2px black;
    border-radius: 20px;
    margin:0 270px;
    background-color: cornflowerblue;
}
.title{
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}
.question{
    padding: 10px;
    font-size:22px;
    background-color: #08038c;
    border-radius:10px;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
}
.Q1{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 5px;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    margin: 20px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}
.Q1:hover{
    background: green;
    color : #f6f6f6;
}

.Q2{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 5px;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    margin: 20px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}
.Q2:hover{
    background: green;
    color : #f6f6f6;
}
.Q3{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 5px;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    margin: 20px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}
.Q3:hover{
    background: green;
    color : #f6f6f6;
}
.Q4{
width: 470px;
display: inline-block;
padding: 10px 0 10px 5px;
vertical-align: middle;
background: rgba(255,255,255,0.5);
margin: 20px 0 10px 10px;
color: #000000;
border-radius: 20px;
}
.Q4:hover{
    background: green;
    color : #f6f6f6;
}
.Q5{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 5px;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    margin: 20px 0 10px 10px;
    color: #000000;
    border-radius: 20px; 
}
.Q5:hover{
    background: green;
    color : #f6f6f6;
}
.Q6{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 5px;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    margin: 20px 0 10px 10px;
    color: #000000;
    border-radius: 20px; 
}
.Q6:hover{
    background: green;
    color : #f6f6f6;
}
.vali-der{

    background: blue;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    float: right;
    margin:35px 10px 10px 0px;
    
}
.vali-der:hover{
    background:green;
 
}
.Effa-cer{
    background: blue;
    border-radius: 20px;
    margin: 10px;
    font-size: 10px;
    width: 100px;
    height: 35px;
}
