body{
    font-family: 'roboto stab', serif;
    background: #6cf;
}
i{
    border: 2px yellow solid;
    background-color: red;
    color: green;
    font-size: 30px;
}

header{
        background: color #042704;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  15px;

}
.Quiz{
 border: 3px solid yellow;
  border-radius: 10px;
  font-size: 25px;
  color: red;

}
  header ul{
    list-style: none;
}
header ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px; 
    border-bottom: 2px solid #fff;
}
header ul li a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}

header ul li a:hover{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.cont{
    height: 400px;
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgba(255,255,255,0.5);
    padding: 30px;
    border: 1px solid #fff;
    box-shadow: 0 0 8px 3px #fff;
}
.title{
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    color: #08038c;
}
.question{
    padding: 20px;
    font-size:22px;
    background: #08038c
    border-radius:20px;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
}
.Q1{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 5px;
    vertical-align: middle;
    background: rgba(255,255,255,0.5);
    margin: 20px 0 10px 10px;
    color: #000000;
    border-radius: 20px;
}
.Q1:hover{
    background: #08038c
    color : #f6f6f6;
}
.Sui-vant{
    border: none;
    outline: none;
    background: rgba(19, 17, 19, 0.5);
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;

}
.Sui-vant:hover{
    background: #08038c;
    color: green;
}
.result{
    height: 100px;
    text-align: center;
    font-size: 40px;
}
.Q1 input:checked.Q1{
    background: #08038c;
    color: #000;
}