@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=Poppins:ital,wght@1,200&family=Roboto:ital,wght@0,100;1,300&family=Tajawal:wght@500&display=swap');
  body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: wheat;
  background:#00002a;
  background-position: center;
  background-size: cover;
}
header{
    background-color:#00002a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.logo {
    border: 2px solid red;
    border-radius: 5px;
    padding: 5px 10px;
    color: yellow;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 50px;
    font-family: 'Tajawal', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
}

ul{
    list-style: none;
}
ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px; 
    border-bottom: 2px solid #fff;
}

ul li a {
    font-size: 1.1em;
    color:green;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}

ul li a:hover{
        color: red;
        text-decoration: underline;
        font-weight: bold;
}

.form-container {
    margin-top: 5%;
    height: auto;
    width: 580px;
    padding: 20px;
    background: green;
    border-radius: 30px 10px;
    border: 1px solid #b0c4d8;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
}



label{
 
  margin: 2px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  
}


  .panel {
    background: rgba(0,0,0,.2);

    }
    .panel-heading {
      margin-bottom: 20px;
    }
  
  .btn-group {
    width: 100%;
    margin: 0 auto 10px auto;
  }
  .back {
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    color: #e7f1fa;
    background: #ff5235;
    border: 1px solid #b0c4d8;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
    margin-right:70%;
    
  }

.continue {
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    color: #e7f1fa;
    background: #ff5235;
    border: 1px solid #b0c4d8;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left:70%;
}
.continue
 .back:last-child {
    margin: 10px 0;
}
.continue,
 .back:hover {
    background: #e91e3a;
}

/* Multi-Part CSS */
input[type=checkbox] {
  position: absolute;
  /* Position the checkbox in upper left corner */
  opacity: 0;
}

/* Styling Parts */
#part1,
#part2,
#part3,
#part4, 
#part5,
#part6,
#part7,
#part8{
  z-index: 2;
  display: block;
  height: auto;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Hidden Parts */

#part2,
#part3,
#part4, 
#part5,
#part6,
#part7,
#part8 {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

/* Show Step 2 & Hide Step  */
#step2:checked ~ #part2 {
  opacity: 1;
  height: auto;
}
#step2:checked ~ #part1 {
  opacity: 0;
  height: 0;
  display: none;
}

/* Show Step 3  & Hide Step 2 */
#step3:checked ~ #part3 {
  opacity: 1;
  height: auto;
}
#step3:checked ~ #part2 {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Show Step 4  & Hide Step 3 */
#step4:checked ~ #part4 {
  opacity: 1;
  height: auto;
}
#step4:checked ~ #part3 {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Show Step 5  & Hide Step 4 */
#step5:checked ~ #part5 {
  opacity: 1;
  height: auto;
}
#step5:checked ~ #part4 {
  opacity: 0;
  width: 0;
  height: 0;
}

#step6:checked ~ #part6 {
  opacity: 1;
  height: auto;
}
#step6:checked ~ #part5 {
  opacity: 0;
  width: 0;
  height: 0;
}
#step7:checked ~ #part7 {
  opacity: 1;
  height: auto;
}
#step7:checked ~ #part6 {
  opacity: 0;
  width: 0;
  height: 0;
}




button.validebtn{
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    border: 1px solid #b0c4d8;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left:70%;
    background: green;
    color: #fff;
 
}
button.validebtn:hover {
  background:#5f84fe;
}
button.startbtn,
button.corigbtn{
    height: 50px;
    width: 120px;
    margin: 10px 25px;
    border: none;
    outline: none;
    border: 1px solid #b0c4d8;
    border-radius: 20px 5px;
    font-size: 18px;
    cursor: pointer;
    background: green;
    color: #fff;
}
button.startbtn{
    margin-right: 70%px;
    margin-top:30px;
}

button.startbtn:hover,
button.corigbtn:hover {
  background:#5f84fe;
}
 img{
  border-radius: 22px;
  
  
}


.box{
  padding: 10px 20px;
  background: white;
  border-radius: 12px;
  
}
 .box label{
  display: flex;
  height: 53px;
  width: 100%;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 50px;
  margin: 10px 0;
  padding-left: 10px;
  cursor: default;
  transition: all 0.3s ease;
}


 

button.passbtn{
			margin-top: 15px;
			background: yellow;
			padding: 14px 50px;
			border-radius: 50px;
			color: #000;
      font-size: 20px;
			cursor: pointer;
      font-weight: bold;
		}

button.passbtn:hover {
  background:#5f84fe;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.quiz_user {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
}

.quiz_timer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  background-color: #341f97;
  color: #fff;
}

