@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

body {
  /* background-image: url(https://media.istockphoto.com/vectors/large-group-of-people-are-standing-in-green-yellow-and-red-robes-the-vector-id1314301529?k=20&m=1314301529&s=612x612&w=0&h=B7Idg_meePEVxsf4Gi_Kv6AnuERbJc5xv38F5bu6EZ8=);
  */
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-color: white;
}
* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #06d6a0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: blue;
  font-size: 58px;
  font-weight: 100;
  margin-left: 18px;
  letter-spacing: 10;
  font-family: "Rakkas";
  cursor: pointer;
}

header ul {
  list-style: none;
}
header ul li {
  display: inline-block;
  margin-left: 8px;
  margin-right: 22px;
}

header ul li a {
  font-size: 28px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Acme";
  font-weight: 600;
  transition: 0.3s;
}

header ul li a:hover {
  color: blue;
  font-weight: bold;
}

b {
  background-color: white;
  font-family: "Courier New", Courier, monospace;
}

.title {
  font-size: 32px;
  font-family: "Acme";
}
.text {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto Slab";
}
.mauritania {
  padding-top: 8%;
}
.mauritania h2 {
  margin-left: 42%;
}
.mauritania p {
  margin-left: 42%;
}
.mauritania img {
  margin-left: 20px;
  margin-top: -18%;
  border-radius: 18px;
}
.Economy {
  padding-top: 100px;
  margin: 24px;
  margin-bottom: 100px;
}

.Economy p {
  margin-right: 45%;
  padding-top: 12px;
}
.Economy img {
  margin-left: 60%;
  margin-top: -24%;
  border-radius: 18px;
}

.history p {
  margin-left: 42%;
}
.history h2 {
  margin-left: 42%;
}

.history img {
  margin-top: -22%;
  border-radius: 18px;
  width: 520px;
}
.Tradition{
  padding-top: 100px;
  margin: 24px;
  margin-bottom: 100px
}
.Tradition img{
  margin-left: 70%;
  margin-top: -80%;
  margin-bottom: 5%;
  border-radius: 18px;
  width: 30%;
 
}
.Tradition p{
  margin-right: 42%;
  font-size: 20px;
}

footer{
   background-color: rgba(43, 41, 41, 0.692);
   height: 130px;
   font-size: 20px;
}
