@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
:root {
  --primary: #ff4c29;
}

::selection {
  background: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
}

body {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  content: "";
  position: absolute;
  /* background: url(../assets/images/90.jpg) no-repeat; */
  background-color: white;
}

header {
  background-color: #9ef01a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: blue;
  font-size: 58px;
  font-weight: 100;
  margin-left: 18px;
  letter-spacing: 10;
  font-family: "Rakkas";
  cursor: pointer;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin-left: 8px;
  margin-right: 22px;
}

ul li a {
  font-size: 28px;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Acme";
  font-weight: 600;
  transition: 0.3s;
}

ul li a:hover {
  color: blue;
  text-decoration: underline;
}

.btn {
  padding: 0.5rem 2rem;
  outline: none;
  border: none;
  background: #fff;
  color: var(--primary);
  margin: 0 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background: var(--primary) !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background: #eee !important;
  color: var(--primary) !important;
}

.btn:hover {
  background: var(--primary);
  color: #fff;
}

.banner {
  display: flex;
  margin-top: 2rem;

  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 0px;
}

.banner .intro {
  width: 90%;
}

.banner .intro h1 {
  text-transform: capitalize;

  color: #fff;
  margin-left: 70px;
}

.banner .intro h1 span {
  color: var(--primary);
  border-bottom: 3px solid blue;
  font-family: "Acme";
  color: black;
  font-size: 42px;
}

.banner .intro .buttons {
  margin: 2rem 0;
  margin-left: 70px;
}

.banner .intro .buttons .btn {
  margin: 0;
}

.banner .intro .buttons .btn:nth-child(2) {
  margin: 0 1rem;
}

.banner .intro p {
  color: #999;
  font-size: 14px;
  margin-left: 70px;
}

.banner .right {
  width: 380px;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 90%;
  height: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
