body{
    background-image: url(https://media.istockphoto.com/vectors/large-group-of-people-are-standing-in-green-yellow-and-red-robes-the-vector-id1314301529?k=20&m=1314301529&s=612x612&w=0&h=B7Idg_meePEVxsf4Gi_Kv6AnuERbJc5xv38F5bu6EZ8=);
    background-position-x: center;
    background-position-y: top;
   background-repeat: no-repeat;
    background-color: white;

 
   
}
*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #041C32;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    color: yellow;
    font-size: 35px;
    background-color: green;
    border: 2px solid red;
    border-radius: 10px;
    
}

header ul{
    list-style: none;
}
header ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px; 
    border-bottom: 2px solid #fff;
}

header ul li a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}

header ul li a:hover{
    color: red;
    text-decoration: underline;
    font-weight: bold;
  
}


b{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.traditions p{
    margin: 90px;
    font-style: normal;
    font-size: 20px;
    text-align: left;
 
}
.Economie p{
    margin: 50px;
    font-style: normal;
    font-size: 20px;
    text-align: left;
}
.his p{
    margin: 50px;
    font-style: normal;
    font-size: 20px;
}
.ad{
    margin: 50px;;
    font-style: normal;
    
   
}
.traditions img{
  padding: 50px;
  
  
}
.social p{
    margin: 50px;
    font-style: normal;
    font-size: 20px;
}
.tourisme p{
    margin: 50px ;
    font-size: 20px;
}