body{
    background-image: url(https://media.istockphoto.com/photos/flag-of-mauritania-ink-splat-on-white-background-picture-id1334415586?b=1&k=20&m=1334415586&s=170667a&w=0&h=_Ss78hE-rKFyIzqvku6hWtFcgAw-4hMbosvhYutpvGg=);
    background-position-x: center;
    background-position-y: top;
   background-repeat: no-repeat;
    background-color: white;
 
   
}
*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #041C32;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo {
    color: yellow;
    font-size: 35px;
    background-color: green;
    border: 2px solid red;
    border-radius: 10px;
    
}

header ul{
    list-style: none;
}
header ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px; 
    border-bottom: 2px solid #fff;
}

header ul li a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}

header ul li a:hover{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}


b{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.traditions p{
    margin: 50px;
    font-style: normal;
   
   
}
.Economie p{
    margin: 50px;
    font-style: normal;
    
}
.his p{
    margin: 50px;
    font-style: normal;
   
}
.ad{
    margin: 50px;;
    font-style: normal;
   
}
.traditions img{
    margin: 10px;
}
.social p{
    margin: 50px;
    font-style: normal;
    
}