body{
    background-image: url(https://media.istockphoto.com/photos/flag-of-mauritania-ink-splat-on-black-background-picture-id1332450718?k=20&m=1332450718&s=612x612&w=0&h=Ki0Jv0URt0hPkP6qhsyeqo_y0cPVwxJo_jPIViI7Pp0=);
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
 
   
}

header{
    background-color: #00002a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.logo {
    color: yellow;
    font-size: 35px;
    background-color: green;
    border: 2px solid red;
    border-radius: 10px;
    
}

header ul{
    list-style: none;
}
header ul li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 10px; 
    border-bottom: 2px solid #fff;
}

header ul li a {
    font-size: 1.1em;
    color: green;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: .3s;
}

header ul li a:hover{
    color: rgba(255,255,255, .5)
}

p{
    
    font-size: 17px;
    background-image: url("2.png");
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: green;
    font-family: cursive;
    color: black;
    font-weight: bolder;
    text-align: center;
    

}
p:hover{
    color: red;

}
strong{
 border: 10px yellow solid;
 margin: 200px 100px 0px 500px;
 padding: 40px;
 background-image: url(https://media.istockphoto.com/photos/mauritanian-tee-picture-id1273469360?k=20&m=1273469360&s=612x612&w=0&h=xh_MyRJD01btp1HYkzbt0g9JRgZkVuqXP7qyrerHaxA=);
 
 background-position: center;
background-repeat: no-repeat;


}
input{
 
 border: 2px green solid;
 margin: 350px 0px 0px 600px;
}
b{
    background-color: white;
}
li:hover{

background-image: url(https://media.istockphoto.com/photos/mauritanian-tee-picture-id1273469360?k=20&m=1273469360&s=612x612&w=0&h=xh_MyRJD01btp1HYkzbt0g9JRgZkVuqXP7qyrerHaxA=);
background-repeat: no-repeat;
background-position-y: bottom;
background-position-x: bottom;
}
