
/*reponse*/

.boxy1{ 
    position: relative;
   width: 700px;
    left: 0px;
   height: 1650px;
   border: 3px solid rgb(22, 22, 22);
   box-shadow: 10px 5px 10px 10px rgba(112, 110, 110, 0.418);
   margin-left: 20px;
   color: rgb(100, 100, 100);
   font-size: 120%;
   
 }
.juste
{
  color: green;
  text-decoration: underline;
  font-weight: bold;
}

